

#container {
    display: flex;
    flex-direction: column;
    align-content: center;
    background-image: url("../../../../assets//right-bg.jpg");
    width: 100%;
    overflow-y: scroll;
    margin-top: 7.5vh;
    height: 92.5%;
    position: absolute;

}

.center{
    align-self: center; 
}

#titleText {
    margin-bottom: 25px;
    margin-top: 5vh;
}

#descriptionText {
    margin-bottom: 50px;
}

.buttons {
    background-image: url(../../../../assets/top-bg.png);
    border: 1px black solid;
    outline: none;
    border-radius: 0.25rem;
    box-shadow: 2px 2px 2px 2px;
}

:host ::ng-deep{
         align-self: center;
    }

#back {
    width: 100px;
    margin-top: 100px;
    height: 50px;
}

#requirementsText {
    margin-top: 35px;
}

.costTexts {
    margin-right: 10px;
}

#upgrade {
    width: 350px;
    height: 50px;
}

#materialsContainer {
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
    align-items: center;
}

.materials {
    margin-right: 10px;
    width: 45px;
    height: 45px;
}

.missingMaterial{
    color: red;
}

.enoughMaterial{
    color: black;
}