$topToolbarHeight: 7.5vh;
$topToolbarMinHeight: 75px;

.buildingContainer {
    min-width: 100%;
    margin-top: 7.5vh;
    min-height: 92.5vh;
    align-content: unset;
    text-align: center;
}

.center{
    align-self: center; 
}

#titleText {
    margin-bottom: 25px;
    margin-top: 5vh;
}

.buttons {
    background-image: url(../../../../assets/top-bg.png);
    border: 1px black solid;
    outline: none;
    border-radius: 0.25rem;
    box-shadow: 2px 2px 2px 2px;
}

:host ::ng-deep{
         align-self: center;
    }

#back {
    width: 100px;
    margin-top: 50px;
    height: 50px;
}

#requirementsText {
    margin-top: 50px;
}

.costTexts {
    margin-right: 10px;
}

#upgrade {
    width: 350px;
    height: 50px;
}

#maxLevel{
    color: green;
    margin-top: 50px;
}


