#container{
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
}
.materials{
    margin-right: 10px;
    margin-left: 10px;
    width:45px;
    height: 45px;
}
.extraContent{
    align-self: center;
}