<app-building [building]="buildingInformation">
    <div sample class = "extraContent">
        <h5> Current maximum storage: {{currentMaximumStorage}} </h5>
        <h5> Next level maximum storage: {{nextLevelMaximumStorage}} </h5>
        <h5> Level up Requirements: </h5>
        <div id="container">
            <img class="materials" src="../../../assets/crop.jpg">
            <h5> {{levelUpMaterialCost.crop}}</h5>
            <img class="materials" src="../../../assets/wood.jpg">
            <h5> {{levelUpMaterialCost.wood}}</h5>
            <img class="materials" src="../../../assets/rock.jpg">
            <h5> {{levelUpMaterialCost.stones}}</h5>
        </div>
    </div>
</app-building>
