<div class = "flexContainer statisticsContainer step" [class.show]="!openAttackPopup" [class.hide]="openAttackPopup">
    <h2 id = "titleText" class="center margin-top">Statistics</h2>
    <table id="table" class="center bordered margin-top">
        <th class="center">
            Rank 
         </th>
        <th class="center">
           Name 
        </th>
        <th class="center">
            Clan
        </th>
        <th class="center">
            Population
        </th>
        <th class="center">
            Villages
        </th>
        <th class="center">
            Attack
        </th>

        <tr *ngFor="let user of usersInPage; let i = index" class="center bordered" [class.player-himself]="user.username == username">
            <td> {{(page - 1) * 10 + i + 1 }}</td>
            <td> {{user.username}} </td>
            <td *ngIf = "user.clanName != ''"> {{user.clanName}} </td>
            <td *ngIf = "user.clanName == ''"> No clan </td>
            <td> {{user.population}} </td>
            <td> {{user.numberOfVillages}} </td>
            <td> 
                <div class ="center" *ngIf = "user.username != username">
                    <button class="attack icons" [class.noEnergy]="getEnergy() < 1" (click)="attackPlayer(user.username)" [disabled]="getEnergy() < 1"></button>
                </div>
            </td>
        </tr>
    </table>

    <div class="pagination center margin-top">
        <p (click)="moveToPage(1)">&laquo;</p>
        <p (click)="moveToPage(1)" [class.active] = 'page == 1'>1</p>
        <p (click)="moveToPage(2)" [class.active] = 'page == 2'>2</p>
        <p (click)="moveToPage(3)" [class.active] = 'page == 3'>3</p>
        <p (click)="moveToPage(4)" [class.active] = 'page == 4'>4</p>
        <p (click)="moveToPage(5)" [class.active] = 'page == 5'>5</p>
        <p (click)="moveToPage(6)" [class.active] = 'page == 6'>6</p>
        <p href="#">&raquo;</p>
      </div>
    
    <button id = "back" class="buttons center" (click)="goBack()"> Back </button>
</div>

<app-attack *ngIf="openAttackPopup" [defenderName]="userToAttack" (closed)="attackPopupClosed()"></app-attack>
