<app-building [building]="buildingInformation">
    <div extraInformation class="center">
        <div *ngIf = "nextLevelUnlock">
            <h5> Next level unlocks: {{nextLevelUnlock}} </h5>
        </div>
        <div id="trainTroops">
            <h5 class="center"> Train troops: </h5>
            <table id="troopsTraining">
                <tr>
                    <th>
                        <img class = "troopsImages" [class.disabledTroopsImages] = "!canTrainSpearFighters" src="../../../../assets//spear.png">
                    </th>
                    <th>
                        <img class = "troopsImages" [class.disabledTroopsImages] = "!canTrainSwordFighters" src="../../../../assets//sword.png">
                    </th>
                    <th>
                        <img class = "troopsImages" [class.disabledTroopsImages] = "!canTrainAxeFighters" src="../../../../assets//axe.png">
                    </th>
                    <th>
                        <img class = "troopsImages" [class.disabledTroopsImages] = "!canTrainArchers" src="../../../../assets//bow.png">
                    </th>
                    <th>
                        <img class = "troopsImages" [class.disabledTroopsImages] = "!canTrainMagicians" src="../../../../assets//hat.png">
                    </th>
                    <th>
                        <img class = "troopsImages" [class.disabledTroopsImages] = "!canTrainHorsemen" src="../../../../assets//horse.png">
                    </th>
                    <th>
                        <img class = "troopsImages" [class.disabledTroopsImages] = "!canTrainCatapults" src="../../../../assets//trebuchet.png">
                    </th>
                </tr>
                <tr>
                    <td>
                        <input [disabled]="!canTrainSpearFighters" class = "troopsInput" type="number" name="spearFighters"  [(ngModel)]="troops.spearFighters"
                        (input)="troopAmountChange($event)" oninput="validity.valid||(value='');">
                    <td>
                        <input [disabled]="!canTrainSwordFighters" class = "troopsInput" type="number" name="swordFighters" [(ngModel)]="troops.swordFighters"
                        (input)="troopAmountChange($event)" oninput="validity.valid||(value='');">
                    </td>
                    <td>
                        <input [disabled]="!canTrainAxeFighters" class = "troopsInput" type="number" name="axeFighters" [(ngModel)]="troops.axeFighters"
                        (input)="troopAmountChange($event)" oninput="validity.valid||(value='');">
                    </td>
                    <td>
                        <input [disabled]="!canTrainArchers" class = "troopsInput" type="number" name="archers" [(ngModel)]="troops.archers"
                        (input)="troopAmountChange($event)" oninput="validity.valid||(value='');">
                    </td>
                    <td>
                        <input [disabled]="!canTrainMagicians" class = "troopsInput" type="number" name="magicians" [(ngModel)]="troops.magicians"
                        (input)="troopAmountChange($event)" oninput="validity.valid||(value='');">
                    </td>
                    <td>
                        <input [disabled]="!canTrainHorsemen" class = "troopsInput" type="number" name="horsemen" [(ngModel)]="troops.horsemen"
                        (input)="troopAmountChange($event)" oninput="validity.valid||(value='');">
                    </td>
                    <td>
                        <input [disabled]="!canTrainCatapults" class = "troopsInput" type="number" name="catapults" [(ngModel)]="troops.catapults"
                        (input)="troopAmountChange($event)" oninput="validity.valid||(value='');">
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="attackDefence attack">
                            <img class="attackDefenceIcons" src="../../../../assets/battle.png">
                            {{spearFighterAttackingStat}}
                        </div>
                        <div class="attackDefence">
                            <img class="attackDefenceIcons" src="../../../../assets/shield.png">
                            {{spearFighterDefenceStat}}
                        </div>
                    </td>
                    <td>
                        <div class="attackDefence attack">
                            <img class="attackDefenceIcons" src="../../../../assets/battle.png">
                            {{swordFighterAttackingStat}}
                        </div>
                        <div class="attackDefence">
                            <img class="attackDefenceIcons" src="../../../../assets/shield.png">
                            {{swordFighterDefenceStat}}
                        </div>
                    </td>
                    <td>
                        <div class="attackDefence attack">
                            <img class="attackDefenceIcons" src="../../../../assets/battle.png">
                            {{axeFighterAttackingStat}}
                        </div>
                        <div class="attackDefence">
                            <img class="attackDefenceIcons" src="../../../../assets/shield.png">
                            {{axeFighterDefenceStat}}
                        </div>
                    </td>
                    <td>
                        <div class="attackDefence attack">
                            <img class="attackDefenceIcons" src="../../../../assets/battle.png">
                            {{archerAttackingStat}}
                        </div>
                        <div class="attackDefence">
                            <img class="attackDefenceIcons" src="../../../../assets/shield.png">
                            {{archerDefenceStat}}
                        </div>
                    </td>
                    <td>
                        <div class="attackDefence attack">
                            <img class="attackDefenceIcons" src="../../../../assets/battle.png">
                            {{magicianAttackingStat}}
                        </div>
                        <div class="attackDefence">
                            <img class="attackDefenceIcons" src="../../../../assets/shield.png">
                            {{magicianDefenceStat}}
                        </div>
                    </td>
                    <td>
                        <div class="attackDefence attack">
                            <img class="attackDefenceIcons" src="../../../../assets/battle.png">
                            {{horsemenAttackingStat}}
                        </div>
                        <div class="attackDefence">
                            <img class="attackDefenceIcons" src="../../../../assets/shield.png">
                            {{horsemenDefenceStat}}
                        </div>
                    </td>
                    <td>
                        <div class="attackDefence attack">
                            <img class="attackDefenceIcons" src="../../../../assets/battle.png">
                            {{catapultsAttackingStat}}
                        </div>
                        <div class="attackDefence">
                            <img class="attackDefenceIcons" src="../../../../assets/shield.png">
                            {{catapultsDefenceStat}}
                        </div>
                    </td>
                </tr>
            </table>
        
            <app-materials-cost [materialsCost]="totalMaterialsCost"></app-materials-cost>
            <button id = "train" class ="buttons" (click)="trainTroops()" [disabled]="checkIfEnoughMaterialsToTrain() == false"> Train </button>
        </div>
    </div>
</app-building>