<div class = "flexContainer inboxContainer step" [class.show]="!attackReportPopupOpened" [class.hide]="attackReportPopupOpened">

    <table id="table" class="center bordered margin-top">
        <th class="center">
            Title 
         </th>
         <th class="center">
            Result 
         </th>
         <th class="center">
            Date 
         </th>

         <tr (click)="openAttackReportPopup(attackReport)" *ngFor="let attackReport of attackReportsInPage" class="bordered">
            <td class="title">
                <img *ngIf = "attackReport.attackerName == this.username" src="../../../assets/swords.png" class="icons"> 
                <img *ngIf = "attackReport.attackerName != this.username" src="../../../assets/shield.png" class="icons"> 
                {{makeAttackReportTitle(attackReport)}}
            </td>
            
            <td>{{getAttackResult(attackReport)}}</td>

            <td> {{attackReport.date | date:'d/MM/yyyy H:mm'}} </td>
        </tr>
    </table>
    
    <div class="pagination center margin-top">
        <p (click)="moveToPage(1)">&laquo;</p>
        <p *ngFor="let p of displayedPages" (click)="moveToPage(p)" [class.active]="page == p">
            {{ p }}
        </p>
        <p (click)="moveToPage(numberOfPages)">&raquo;</p>
    </div>
    
    <button id = "back" class="buttons center" (click)="goBack()"> Back </button>
</div>

<app-attack-report *ngIf="attackReportPopupOpened" [attackReport]="clickedAttackReport" (closed)="attackReportPopupClosed()"></app-attack-report>


